@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Ant Design Modal */
.dark .ant-modal-content {
  background-color: #18181b !important;
  color: white !important;
}

.dark .ant-modal-header {
  background-color: #18181b !important;
}

.dark .ant-modal-title {
  color: white !important;
}

.dark .ant-modal-close {
  color: white !important;
}

.dark .ant-modal-body {
  color: white !important;
}

/* Ant Design Popconfirm */
.dark .ant-popover-inner {
  background-color: #18181b !important;
  color: white !important;
}

.dark .ant-popconfirm-title,
.dark .ant-popconfirm-description {
  color: white !important;
}

.dark .ant-popconfirm-buttons .ant-btn-default {
  background-color: #27272a !important;
  border-color: #3f3f46 !important;
  color: white !important;
}

.dark .ant-popconfirm-buttons .ant-btn-primary {
  background-color: #2563eb !important;
}

/* Ant Design Upload */
.dark .ant-upload-wrapper .ant-upload-select {
  background-color: #27272a !important;
  border-color: #3f3f46 !important;
  color: white !important;
}

.dark .ant-upload {
  color: white !important;
}
.dark .ant-table {
  background: #18181b !important;
  color: white !important;
}

.dark .ant-table-container {
  background: #18181b !important;
}

.dark .ant-table-thead>tr>th {
  background: #27272a !important;
  color: white !important;
  border-color: #3f3f46 !important;
}

.dark .ant-table-tbody>tr>td {
  background: #18181b !important;
  color: white !important;
  border-color: #3f3f46 !important;
}

.dark .ant-table-tbody>tr:hover>td {
  background: #27272a !important;
}

.dark .ant-pagination-item {
  background: #27272a !important;
  border-color: #3f3f46 !important;
}

.dark .ant-pagination-item a {
  color: white !important;
}

.dark .ant-pagination-item-active {
  border-color: #3b82f6 !important;
}

.dark .ant-pagination-prev,
.dark .ant-pagination-next {
  color: white !important;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Light Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dark Scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #181616;
}

.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}